.genre-badge{

    display: inline-block;
    padding: 2px 15px;

    text-align: center;
    align-self: center;

    color: white;
    font-size: 0.9rem;
    white-space: nowrap;

    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 30px;
}