.movie-detail-banner {
  position: absolute;
  left: 0;
  min-height: 60vh;
  width: 100vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

  display: flex;
  align-items: flex-end;
  opacity: 0.9;
}

.movie-detail-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);  /* black overlay with 50% opacity */
  z-index: -1;
}

.movie-detail-hero{
  display: flex;
  min-height: 60vh;
  align-content: center;
}

.movie-detail-poster{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.5);
}

.movie-detail-title{
  display: flex;
  gap: 15px;
  align-content: center;
}


.movie-detail-title h3{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.movie-detail-title h4{
  align-self: center;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}


.movie-detail-overview{
  font-size: 16px;
  font-weight: light;
  color: white;
}

.movie-detail-info{
  display: flex;
  align-content: center;
}

.genre-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 20px;
}

.genres{
  display: flex;
  column-gap: 10px;
}