.movie-card{
    width: 15rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 1s ease;
    position: "relative";
    background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
    
}

.movie-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.12);
}

.movie-btn{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.movie-btn-primary{
    background: rgba(var(--bs-primary-rgb), 0.9);
    color: #fff;
    border: none;
}

.movie-btn-light{
    background: rgba(var(--bs-light-rgb), 0.9);;
    border: none;
    color: #000000;
}

.movie-card:hover .movie-btn {
    opacity: 1;
    transform: scale(1);
}

.movie-title{
    margin: 0;
    font-size: 0.95rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-meta{
    margin: 0;
    font-size: 0.8rem;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.movie-card-body{
    height: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}